src/version.h
tmp
tmp/*
vgcore*
unicorn.h
libunicorn.a
unicorn
unicorncpp
src/*.o
.DS_Store
src/.DS_Store
*.dSYM
src/libunicorn/*.o
.RData
.Rhistory
other_code
testing
.vscode
conda/*.gz
figures/
src/genesisC/*.o
debug/
src/libunicorn/graphengine/__pycache__/
src/libunicorn/graphengine/uploads/*.dmp
src/libunicorn/graphengine/unicorn_compute/__pycache__/
src/libunicorn/graphengine/tests/e2e/__pycache__
src/libunicorn/graphengine/tests/logs/*.log
resources/
doc/*.pdf
__pycache__/
*.py[cod]
