src/version.h
tmp
tmp/*
vgcore*
unicorn.h
libunicorn.a
unicorn
unicorncpp
src/*.o
.DS_Store
src/.DS_Store
*.dSYM
src/libunicorn/*.o
.RData
.Rhistory
other_code
testing
.vscode
conda/*.gz
figures/
src/genesisC/*.o
debug/
src/libunicorn/graphengine/__pycache__/
src/libunicorn/graphengine/uploads/*.dmp
doc/*.pdf
