src/version.h
tmp
tmp/*
vgcore*
unicorn.h
libunicorn.a
unicorn
unicorncpp
src/*.o
.DS_Store
src/.DS_Store
*.dSYM
src/libunicorn/*.o
src/tests/test_*
!src/tests/*.c
.RData
.Rhistory
other_code
testing
.vscode
conda/*.gz
figures/
src/genesisC/*.o
debug/
src/libunicorn/graphengine/.pytest_cache/
src/libunicorn/graphengine/.mypy_cache/
src/libunicorn/graphengine/.ruff_cache/
src/libunicorn/graphengine/.venv/
src/libunicorn/graphengine/.coverage
src/libunicorn/graphengine/*.log
src/libunicorn/graphengine/__pycache__/
src/libunicorn/graphengine/uploads/
src/libunicorn/graphengine/unicorn_compute/__pycache__/
src/libunicorn/graphengine/tests/e2e/__pycache__
src/libunicorn/graphengine/tests/logs/
var/graphengine/
resources/
doc/*.pdf
__pycache__/
*.py[cod]
logs/
src/libunicorn/graphengine/run_server.sh
